<div class="card m-auto my-2 col-6">
    <h2 class="card-header">Add New Post</h2>

    <form class="card-body" id="newpost-form">

      <div class="mb-6">
        <label class="form-label">Title:</label>
        <input type="text" class="form-input col-9" name="post-title"/>
      </div>

      <div class="mb-6">
        <label class="form-label">Content:</label>
        <textarea class="form-textarea form-input col-12 post-content" name="post-content"></textarea>
      </div>

      <div class="mb-6">
        <button type="submit" class="btn btn-primary float-end">Create</button>
      </div>

    </form>
</div>
<script src="/js/newpost.js"></script>